.wrapper {
    display: grid;
}


.input-wrapper {
    margin-left: 8px;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;

    pre {        
        grid-column: 1 / 3;
    }
    
    .button-row {        
        grid-column: 1 / 3;
        justify-self: end;
    }
}